<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-fixed-top wd-text-bold wd-text-gray">
            <li>
                <a href="#!/profile" class="pull-left wd-text-gray wd-text-bold">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li><a href="#!/">Home</a></li>
            <li><a ng-if="model.user.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
            <li><a ng-show="model.user._id" href="#!/profile">Profile</a></li>
            <li><a ng-show="!model.user._id" href="#!/login">Login</a></li>
            <li><a ng-show="!model.user._id" href="#!/register">Register</a></li>
            <li><a ng-show="model.user._id" href="#!/review/search">Explore</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid wd-text-gray">

        <div>
            <div ng-show="model.error"
                 class="alert alert-danger"
                 role="alert">{{model.error}}
            </div>

            <div ng-show="model.message"
                 class="alert alert-info">
                {{model.message}}
            </div>

            <div ng-show="model.movie">
                <h3>{{model.movie.Title}}</h3>
                <img src="{{model.movie.Poster}}" width="250px"/>
                <h5>Directed by {{model.movie.Director}}</h5>
                <p>{{model.movie.Plot}}</p>
                <h5>Actors</h5>
                <ul>
                    <li ng-repeat="actor in model.movie.Actors.split(',')">
                        {{actor}}
                    </li>
                </ul>

                <label for="review-text">What do you think about this movie?</label>
                <textarea ng-model="model.currentReview.text"
                          id="review-text"
                          class="form-control"
                          rows="10"
                          placeholder="What do you think about this movie?">

                </textarea>

                <a ng-click="model.editReview()"
                   class="btn btn-primary btn-block">
                    Edit
                </a>

                <a ng-click="model.deleteReview()"
                   class="btn btn-danger btn-block">
                    Delete
                </a>


            </div>

        </div>

    </div>
</div>

